@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

.inter {
  font-family: 'Inter', sans-serif;
}
.mulish {
  font-family: 'Mulish', sans-serif;
}
.retro {
  background: linear-gradient(
    90deg,
    #797dfc 0.63%,
    rgba(121, 125, 252, 0.5) 41%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Mulish;

  font-weight: 900;
  line-height: 86px;
}
